*{
    margin: 0;
    padding: 0;
    /* background-color: white; */
}

.parent{
    width: 90%;
    margin: auto;
    padding-top: 30px;
}

.sec1{
    width: 50%;
}
.sec1 h1{
    width: 30%;
    line-height: 40px;
    padding-bottom: 30px;
}
.sec1 p{
    width: 90%;
    padding-bottom: 40px;

}

.sec2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

.box-div{
    border-radius: 10px;
    height: 250px;
    line-height: 30px;
    padding-left: 20px;
    padding-top: 20px;
     background-color:rgb(245, 236, 245) ;
}

.icon{
    width: 40px;
    height: 40px;
    background-color: rgb(199, 187, 199);
    text-align: center;
    border-radius: 100%;
}

.box-div h4{
padding-top: 25px;
}